body{
    font-family: "微軟正黑體","Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}

.p_fix{
    position: fixed;
}

.d_flex{
    display: flex;
}

.d_block{
    display: block;
}

.d_inlineblock{
    display: inline-block;
}

.decoration_none{
    text-decoration: none;
}

.list_style{
    list-style: none;
}

.red{
    color: red;
}

a{    
    text-decoration: none !important;
    transition: all .25s ease;
}

p{
    margin: 0;
}

figure{
    margin: 0;
}

.header_inner{
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: transparent;
    padding-top: 55px
}

/* .container{
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
} */

.nav{
    justify-content: flex-end;
}

.nav>ul{
    height: 70px;
    background: rgba(255, 255, 255, 0.2);
    padding: 0 90px;
}

.nav>ul>li>a{
    padding: 0 24px;
    line-height: 70px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.nav>ul>li>a:hover{
    color: red;
}

.tp-mask{
    top: 200%;
    color: #fff;
}

.tp-mask h1{
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 1.5px;
    margin: 30px 0;
}

.tp-mask h2{
    font-size: 30px;
    line-height: 22px;
    margin: 20px 0;
}

.join{
    background: transparent;
    color: #fff;
    line-height: 21px;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 14px 49px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
    transition: .3s;
}

.join:hover{
    background: #fff;
    color: #e21e22;
}

.main{
    top: 0;
    left: 0;
}

.tp-bg{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.tp-bg img{
    width: 100%;
    height: auto;
}

/* .join>.container{
    justify-content: space-between;
} */

.vc_row{
    height: 90px;
    line-height: 90px;
    color: #fff;
    background: #e21e22;
    font-size: 20px;
}

.vc_row p{   
    font-weight: bold;
    letter-spacing: 1.1px;
}

.vc_row>.container>.join{
    margin: auto;
    margin-right: 0;    
    font-weight: bold;
}

section{
    padding: 80px 0;
}

section h3{
    margin-right: 45px;
    margin-bottom: 10px;
    color: #212529;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.stm-next-match-controls {
    overflow: hidden;
    padding-top: 8px;
}

.stm-next-match-controls .stm-next-match-prev.disabled{
    color: #cacaca;
    cursor: not-allowed;
}

.stm-next-match-controls .stm-next-match-pagination {
    position: relative;
    top: 1px;
    font-size: 14px;
    font-weight: 700;
    color: #cacaca;
    letter-spacing: 4px;
    line-height: 35px;
}

.stm-next-match-pagination .current {
    color: #151515;
}

.stm-next-match-controls .stm-next-match-prev, .stm-next-match-controls .stm-next-match-next {
    font-size: 24px;
    color: #e21e22;
    cursor: pointer;
}

.stm-next-match-controls .stm-next-match-prev {
    padding-right: 25px;
}

.stm-next-match-next {
    padding-left: 25px;
}

.league_baseball>a{
    width: cala( 25% - 10px );
    height: auto;
    object-fit: cover;
    overflow: hidden;
    margin: 30px 10px;
    box-shadow: 2px 2px 8px rgba(21,21,21,.5);
    transition: .3s;
}

.league_baseball>a:hover{
    transform: translateY(-3px);
    box-shadow: 2px 2px 10px rgba(21,21,21,.5);
}

.league_baseball>a>img{
    width: 100%;
    height: auto;
}

.vc_row.row2{
    height: 140px;
    line-height: 140px;
    background: #00003c;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.1px;
}

.new_games{
    background: #e0e0e0;
}

.box {
    height: 560px;
}

.media_gallery{
    top: 0;
    left: 0;
    width: 25%;
    height: 50%;
    align-items: flex-end;
}

.media_gallery2{
    top: 0;
    left: 25%;
    width: 25%;
    height: 100%;
    align-items: center;
}

.media_gallery3{
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
    align-items: flex-end;
}

.media_gallery4{
    top: 50%;
    left: 0;
    width: 25%;
    height: 50%;
    align-items: flex-start;
}

.media_gallery5{
    top: 50%;
    left: 50%;
    width: 25%;
    height: 25%;
    align-items: flex-start;
}

.media_gallery6{
    top: 50%;
    left: 75%;
    width: 25%;
    height: 25%;
    align-items: flex-start;
}

.media,.media2{
    padding: 0 15px 30px;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
}

.media>a>img,.media2>a>img{
    width: 100%;
    height: auto;
}

.carousel-indicators li{
    background-color: #666;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
    z-index: 30;
}

.video{
    width: 100%;
    justify-content: space-between;
}

.row{
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.video_img{
    width: 300px;
    height: 272px;
    /* object-fit: cover; */
    overflow: hidden;
    text-align: center;
    padding: 25px;
    margin: 30px 10px;
}


.video_img>a>img{
    /* width: 100%;
    height: auto; */
    transform:scale(1,1);
    transition: all .8s ease-out;
}

.video_img>a>img:hover{
    transform:scale(1.1,1.1);
}

a.free{
    color: #212529;
    font-size: 16px;
    font-weight: bold;
}

.incomes{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.incomes>img{
    width: 100%;
    height: auto;
}

.image {
    width: 260px;
    height: auto;
    max-height: 355px;
    position: relative;
    margin: 30px 15px 14px;
    overflow: hidden;
}

.image>a{
    display: block;
}

.image>a>img{
    width: auto;
    height: 100%;
    max-height: 355px;
}

.image:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #151515;
    opacity: 0;
    transform: scale3d(.7,1,1);
    transition: transform .4s,opacity .4s;
    transition-timing-function: cubic-bezier(.2,1,.3,1);
}

.image:hover.image:before{
    transform: scale3d(1,1,1);
    opacity: .5;
}

.stm-plus{
    position: absolute;
    width: 76px;
    height: 76px;
    top: 50%;
    left: 50%;
    margin: -38px 0 0 -38px;
    /* border: 2px solid #fff; */
    border-radius: 50%;
    z-index: 20;
    opacity: 0;
    transition: transform .5s,opacity .5s;;
}

.stm-plus:before {
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 22px;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -1px;
    background-color: #fff;
}

.stm-plus:after {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -11px;
    background-color: #fff;
}

.image:hover.image a .stm-plus{
    opacity: .6;
}

.info{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #151515;
    position: absolute;
    bottom: 0;
    z-index: 25;
    color: #fff;
    text-align: center;
}

.carousel.slide.btm{
    min-height: 450px;
}

footer{
    height: 90px;
    line-height: 90px;
    background: #00003c;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

