body{
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
}

.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}

.p_fix{
    position: fixed;
}

.d_flex{
    display: flex;
}

.d_block{
    display: block;
}

.d_inlineblock{
    display: inline-block;
}

.decoration_none{
    text-decoration: none;
}

.purple{
    color: #B45AD3;
}

.border_left{
    border-left: 1px solid rgba(216, 189, 226, 1);
}

.go-top {
    width: 38px;
    height: 38px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 101;
    cursor: pointer;
}

figure{
    margin: 0;
}

nav{
    width: 100%;
    height: 80.5px;
    background: rgba( 255, 255, 255, .9);
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.navbar{
    height: 80.5px;
    z-index: 10;
    margin: 0 30px 0 0;
}

.navbar li{
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin: auto 0;
}

.navbar li a{    
    font-size: 14px;
    font-weight: bold;
    transition: .5s;
}

.navbar li a.active{    
    color: #532563;
}

.navbar li a:hover{
    color: #532563;
}


.header_bg{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    top: 0;
    /* top: 72px; */
}

.header_bg img{
    width: 100%;
    height: auto;
}

.header_title{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.title{
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.title h1,.title h2{
    width: 100%;
    font-weight: bold;
    color: #0047FC;
}

.title h1{
    font-size: 100px;
}

.title h1 span{
    color: #FFC403;
}

.title h2{
    font-size: 35px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}

#comp-jxdcrbjn {
    visibility: inherit;
    height: 89px;
    min-height: 71px;
    width: 256px;
    position: relative;
    margin: 44.5% auto 0;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}

.style-jxd9tpvo[data-state~="shouldUseFlex"][data-state~="center"] .style-jxd9tpvolink, .style-jxd9tpvo[data-state~="shouldUseFlex"][data-state~="center"] .style-jxd9tpvolabelwrapper {
    justify-content: center;
}

.style-jxd9tpvo[data-state~="shouldUseFlex"] .style-jxd9tpvolink, .style-jxd9tpvo[data-state~="shouldUseFlex"] .style-jxd9tpvolabelwrapper {
    text-align: initial;
    display: flex;
    align-items: center;
}

.style-jxd9tpvolink {
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 222, 95, 1);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s, color 0.4s ease 0s;
    box-shadow: 0.03px 2px 5px 0px rgba(0, 0, 0, 0.53);
    background-image: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/ironpatern.png);
    color: #008AFC;
}

.style-jxd9tpvolink:hover{
    background-color: rgba(102, 90, 211, 0.7);
}

.style-jxd9tpvo_glow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: rgba(255, 255, 255, 0.59) 0 0 6px 0 inset, rgba(255, 255, 255, 0.92) 0 1px 0 0 inset, rgba(255, 255, 255, 0.2) 0 0 5px 0 inset;
    border-radius: 2px;
}

.style-jxd9tpvo_screw-tl {
    left: 2px;
    top: 2px;
}

.style-jxd9tpvo_screw-tr {
    right: 2px;
    top: 2px;
}

.style-jxd9tpvo_screw-bt {
    bottom: 2px;
    left: 2px;
}

.style-jxd9tpvo_screw-br {
    bottom: 2px;
    right: 2px;
}

.style-jxd9tpvo_screw-tl, .style-jxd9tpvo_screw-tr, .style-jxd9tpvo_screw-bt, .style-jxd9tpvo_screw-br {
    position: absolute;
}

.style-jxd9tpvo_screw {
    width: 15px;
    height: 15px;
    background-image: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/skrew.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.style-jxd9tpvolabel {
    width: 100%;
    font: normal normal 700 51px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s, color 0.4s ease 0s;
    color: #008AFC;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    text-align: center;
}

.style-jxd9tpvolink:hover .style-jxd9tpvolabel{
    color: #fff;
}

.sport_a2,.sport_b2,.sport_c1{
    display: flex;
}

.sport_a1,.sport_a3{
    width: 100%;
    height: auto;
}

.sport_a2{
    width: 70%;
    margin: 0 auto;
}

.sport_a2 img{
    width: 90%;
    margin: 0 auto 50px;
}

.sport_b2{
    width: 70%;
    margin: 0 auto;
}

.sport_b2 a{
    width: 33.3%;
    margin: 0 auto 20px;
}

.sport_b2 img{
    width: 60%;
    margin: 0 auto;
}

.sport_b a{
    width: 33.3%;
    margin: 20px auto 0;
}

.new_game{
    background: #fdefbe;
    text-align: center;
    padding: 4.2% 0;
}

.new_game h5{
    font-size: 64px;
    font-weight: bold;
    color: #008AFC;
    margin-bottom: 50px;
}

.section_bg{
    width: 100%;
    max-width: 1903px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.section_bg img{
    width: 100%;
    height: auto;
}

.sport_b1,.sport_b3{
    width: 100%;
    height: auto;
}

.sport_c1 img{
    width: 33%;
    margin: 0 5px;
}

.c1{
   width: 34%;
   justify-content: center;
   align-items: center;
   margin: 0 6.5%;
}

.c1 a img{
    width: 93%;
    margin: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    transition: .3s;
}

.c1 a img:hover{
    transform: translateY(-5px);
}

.carousel-inner{
    width: 60%;
    max-height: 500px;
    margin: 0 auto;
}

.carousel-control-next, .carousel-control-prev {
    width: 43%;
}